.main__section--mod {
    background-color: $add_main-color;
    width: 58%;
    margin: 0 auto;
    
    .main__section__link {
        display: block;
        width: 25%;
        padding: 35px 69px 35px 60px;
        border: 1px solid $main_color;
        float: left;
    }
    &::after {
        @include clear_fix;
    }    
}