.main__section--mod {
    margin: 0 auto;
    width: 1110px;
    background-color: $add_main-color;
    .main__img {
        padding: 35px 69px 60px;
        border: 1px solid $main_color;
        border-collapse: collapse;
    }    
}